.map-wrap {
  position: relative;
  width: 100vw;
  height: calc(100vh); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logout-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.instructions {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
